/* src/components/HeroSection/HeroSection.css */

.HeroSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
    background-color: #fff;
}

.HeroTextWrapper {
    flex: 1;
    min-width: 280px;
}

.HeroTitle {
    font-size: 2.3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    font-weight: 700;
    margin-left: 11rem;
}

.TitleAccent {
    color: #007BFF;
}

.HeroSubtitle {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    max-width: 500px;
    color: #444;
    margin-left: 11rem;
}



/* Video Section */
.HeroVideoWrapper {
    flex: 1;
    min-width: 300px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.HeroVideo {
    width: 100%;
    max-width: 500px;
    height: 280px; /* Adjust height as needed */
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: block;
    margin: 0 auto;
}
